
back/src/test/java/com/openclassrooms/starterjwt/integrationtests/AuthControllerIntegrationTest.java
back/src/test/java/com/openclassrooms/starterjwt/integrationtests/SessionControllerIntegrationTest.java
back/src/test/java/com/openclassrooms/starterjwt/integrationtests/TeacherControllerIntegrationTest.java
back/src/test/java/com/openclassrooms/starterjwt/integrationtests/testdata.sql
back/src/test/java/com/openclassrooms/starterjwt/integrationtests/UserControllerIntegrationTest.java
