back/src/test/java/com/openclassrooms/unittests/controller/AuthControllerTest.java
back/src/test/java/com/openclassrooms/unittests/controller/SessionControllerTest.java
back/src/test/java/com/openclassrooms/unittests/controller/TeacherControllerTest.java
back/src/test/java/com/openclassrooms/unittests/controller/UserControllerTest.java
back/src/test/java/com/openclassrooms/unittests/service/SessionServiceTest.java
back/src/test/java/com/openclassrooms/unittests/service/TeacherServiceTest.java
back/src/test/java/com/openclassrooms/unittests/service/UserServiceTest.java
